<!DOCTYPE html>
<html>
<head>
    <title>Esqueleto basico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
-->
    <style>
    </style>
</head>
<body>
<h1>Inicio</h1>
<br>

<a href="/novo_post">Nova postagem</a>
<br>
<a href="/posts">Postagem</a>


</body>
</html>


